.user__container{
    margin-top:100px;
}

.user__avatar{
    border-radius: 50%;
    width: 200px;
    margin-right: 25px;
}

.user__container__left{
    display: flex;
}

.user__details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    p{
        margin: 0;
    }
}

.user__info{
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        margin: 0;
    }
}

.noRepos__message{
    margin-top: 50px;
}