@import '../../global/global-css.scss';

.navi{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid $company-dark;
    margin-bottom: 40px;
    flex-wrap: wrap;

    @include laptop{
        justify-content: space-between;
        flex-direction: row;
    }
}

.navi__links{
    display: flex;
    align-items: center;
    padding:0;

    a{
        margin-left: 40px;

        &:first-of-type{
            margin-left: 0;
        }
    
        @include laptop{
            margin-left: 40px;
        }
        &:hover{
            text-decoration: none;
        }
    }

    li{
        list-style-type: none;
        color: $company-dark;
    }
}